{extend name="public:base"}
{block name="content"}
<div class="container-wrap">
		<div class="container container-message container-details">
				<div class="contar-wrap">
					<div class="item">
						<div class="item-box  layer-photos-demo1 layer-photos-demo">
							<h3><a href="details.html">{$art.title}</a></h3>
							<h5>发布于：<span>{$art.create_time}</span></h5>
							<p>{$art.content}</p>
							<img src="/static/static/images/item.png" alt="">
							<div class="count layui-clear">
								<span class="pull-left">阅读 <em>{$art.read}</em></span>
								<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>{$art.like}</em></span>
							</div>
						</div>
					</div>	
					<a name="comment"> </a>
					<div class="comt layui-clear">
						<a href="javascript:;" class="pull-left">评论</a>
						<a href="comment.html" class="pull-right">写评论</a>
					</div>
					<div id="LAY-msg-box">
						{volist name="art.comments" id="com" length="5"}
						<div class="info-item">
							<img class="info-img" src="{$com.user.img|default='/static/static/images/info-img.png'}" alt="">
							<div class="info-text">
								<p class="title count">
									<span class="name">{$com.user.username}</span>
									<span class="info-img like"><i class="layui-icon layui-icon-praise"></i>{$com.like}</span>
								</p>
								<p class="info-intr">{$com.content}</p>
							</div>
						</div>	
						{/volist}	
						<div style="text-align:center">
								<div id="item-page"></div>
						</div>
					</div>
				</div>
		</div>
			
	</div>

{/block}

{block name="js"}
<script>
		layui.use(['laypage', 'jquery'], function(){
			var laypage = layui.laypage
					,     $ = layui.jquery;
			

			//执行一个laypage实例
			var option = {
				elem: 'item-page' 
				,count: {$count} //数据总数，从服务端得到
				,limit: 5
				,jump: function(obj, first){	
					if(!first){
						$.ajax({
							type:'post'
							,url:"{:url('index/details')}"
							,data:{'curr':obj.curr,'limit':obj.limit,'artId':"{$art.id}"}
							,success:function(data){
								console.log(111);
								console.log(data);
							}
						})
					}
				}
			};
			laypage.render(option);


			//获取评论总数
			function getComCount(){
				$.ajax({
					type:'get'
					,data:"{$art.id}"
					,url:"{:url('index/getComCount')}"
					,success:function(count){
						$.extend(option, {'count':count});
					}
				})
			}
		});






		</script>
{/block}
