{extend name="public:base"}
{block name="content"}
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的轻博客</span></p>
            </h4>
            <div class="artlist">
                {volist name="artlist" id="art"}
                <div class="item">
                    <div class="item-box">
                        <div class="cate-item">
                            <h5 cate-id="{$art.cate.id}" class="pull-right cate-search"
                                style="line-height:36px;cursor:pointer">
                                <i class="layui-icon layui-icon-note"></i> <span>{$art.cate.name}</span>
                                <input type="hidden" name='cateId'>
                            </h5>
                            <h3>
                                <a href="details.html">{$art.title}</a>
                            </h3>
                        </div>

                        <h5>
                            作者：{$art.user.username}&nbsp;&nbsp;&nbsp;&nbsp;
                            发布于：<span>{$art.create_time}</span>
                            <div class="pull-right">
                                阅读：<em>{$art.read}</em>&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="layui-icon layui-icon-praise"></i>
                                <em>{$art.like}</em>
                            </div>
                        </h5>
                    </div>
                </div>
                {/volist}
            </div>

        </div>
        <div id="item-page" class="item-btn"></div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['laypage', 'jquery', 'form'], function () {
        var laypage = layui.laypage
            , $ = layui.jquery
            , form = layui.form;

        //执行一个laypage实例
        var option = {
            elem: 'item-page' //注意，这里的 test1 是 ID，不用加 # 号
            , count: {$count} //数据总数，从服务端得到
            , limit: 2  //每页显示条数
            , jump: function (obj, first) {
                if (!first) {
                    var   title  = $("i[lay-filter='search']").attr('key')                  //获取查询条件 
                        ,cateId  = $("i[lay-filter='search']").attr('cateId');             //获取当前分类id

                        console.log({ curr: obj.curr, limit: obj.limit, title: title, cateId:cateId });
                    $.ajax({
                        type: 'get'
                        , url: "{:url('index/getArtList')}"
                        , data: { curr: obj.curr, limit: obj.limit, title: title, cateId:cateId }
                        , dataType: 'json'
                        , success: function (res) {
                            console.log(res.where);
                            if (res.status == 1) {
                                makeHtml(res);
                            } else {
                                $(".artlist").html("暂无数据");
                            }
                        }
                    })
                }
            }
        };

        laypage.render(option);

        //搜索
        form.on('submit(search)', function (data) {
            $("i[lay-filter='search']").removeAttr('cateId')              //搜索前 删除 分类 避免分页带有分类信息

            $.ajax({
                type: 'get'
                , url: "{:url('index/getArtList')}"
                , data: data.field
                , dataType: 'json'
                , success: function (res) {
                    if (res.status == 1) {
                        $("i[lay-filter='search']").attr('key', data.field['title']);
                        makeHtml(res)
                        // 更新分页
                        $.extend(option, { count: res.count, curr: 1 })
                        laypage.render(option);
                    } else {
                        $(".artlist").html("暂无数据");
                    }
                }
            });
            return false;
        });
        $('.blog-seach').keydown(function (e) {
            if (e.keyCode === 13) {
                $("i[lay-filter='search']").click();
                return false;
            }
        })

        //搜索End
        //cate分类搜索
        $(".artlist").on('click', '.cate-search', function (e) {
            var cateId = $(this).attr('cate-id');
            $.ajax({
                type: 'get'
                , url: "{:url('index/getArtList')}"
                , data: { 'cateId': cateId }
                , dataType: 'json'
                , success: function (res) {
                    if (res.status == 1) {
                        $("i[lay-filter='search']").attr('cateId', cateId); //保存 cateId
                        makeHtml(res)
                        // 更新分页
                        $.extend(option, { count: res.count, curr: 1 })
                        laypage.render(option);
                    } else {
                        $(".artlist").html("暂无数据");
                    }
                }
            })
            return false;
        })


        //构建 文章列表html
        function makeHtml(res) {
            var art = '<div class="item">'
                + '<div class="item-box">'
                + '<div class="item-title">'
                + '<h5 cate-id="{cateid}" class="pull-right cate-search" style="line-height:36px;cursor:pointer">'
                + '<i class="layui-icon layui-icon-note"></i> <span>{catename}</span>'
                + '</h5>'
                + '<h3><a href="details.html">{title}</a></h3>'
                + '</div>'

                + '<h5>'
                + '作者：{username}&nbsp;&nbsp;&nbsp;&nbsp;'
                + '发布于：<span>{create_time}</span>'
                + '<div class="pull-right">'
                + '阅读：<em>{read}</em>&nbsp;&nbsp;&nbsp;&nbsp;'
                + '<i class="layui-icon layui-icon-praise"></i> <em>{like}</em>'
                + '</div>'
                + '</h5>'
                + '</div>'
                + '</div>';
            //更新文章列表        
            $(".artlist").html('');

            for (let index = 0; index < res['data'].length; index++) {
                const e = res['data'][index];
                var el = art.replace('{title}', e.title)
                    .replace('{create_time}', e.create_time)
                    .replace('{like}', e.like)
                    .replace('{read}', e.read)
                    .replace('{username}', e.user.username)
                    .replace('{cateid}', e.cate.id)
                    .replace('{catename}', e.cate.name);
                $(".artlist").append(el);
            }


        }



    });
</script>

{/block}